user details->

Name
address
House type-> rented , own
pan, addhar




job details->

company address
salary 
duration
Existing Emi

Vehicle details->
type
Brand
model
price



ROI-> rate of interest 

Document required->

pan card 
aadhar card




Register
|
Login
|
Apply
|
more details
|
ROI and EMI
|
confirm
|
check Status

*************************************

Admin Register(from Backend)
|
Login
|
check pending applications, check all application(approved,rejected,pending)
|
Approve, Reject , Review


DataBase->

User(UserId,Email,Passwrod,Name,address,state,city,MobNo)	
Admin(Id,Name,Email,Password)
UserLoanDetails(EmpDetails(type,sallary,adhar,Pan),ExistingEmi,BankDetails(IFSC,Name,Branch,AccountNo))
Vehicle(VehicleId,type,chhachisNo.,regestrationNO,price,model,Brand,color)


LoanClass->

addVehicle(Vehicle v){
Vehicle v;
}





Primary Keys->


















